@media(min-width: 1400px) {
    html {
        font-size: 18px;
    }

    .app-container {
        max-width: 1400px !important;
    }
}

@media(min-width: 1600px) {
    html {
        font-size: 20px;
    }

    .app-container {
        max-width: 1600px !important;
    }
}