.header {
    backdrop-filter: blur(24px);
    border: 1px solid;
    border-color: currentcolor;
    border-color: var(--template-palette-divider);
    box-shadow: var(--template-shadows-1);
    position: sticky;
    z-index: 2;
    top: 20px;
    border-radius: 1rem;
}

.headerBtn {
    margin-block: 8px !important;
    margin-inline: 0.75rem !important;
    background-color: transparent !important;
    border: none !important;
}

.headerBtn.active {
    background-color: aliceblue !important;
}

[data-mui-color-scheme="dark"] .headerBtn.active {
    background-color: rgba(150, 180, 253, 0.3) !important;
}

[data-mui-color-scheme="dark"] .headerBtn.active span {
    color: white !important;
}

.headerBtn:hover {
    background-color: rgba(var(--template-palette-action-selectedChannel) / calc(var(--template-palette-action-selectedOpacity) + var(--template-palette-action-hoverOpacity))) !important;
}

.headerName {
    display: none;
    margin-inline: 0.75rem !important;
    font-weight: 500;
    cursor: pointer;
}

.header.active {
    background-color: rgba(var(--template-palette-background-defaultChannel) / 0.4);
}

.header.active .headerName {
    display: block;
}

.openPic {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.aboutMeWrap .aboutMePara {
    border-radius: 0;
}

.aboutMeWrap .aboutMePara:first-child {
    border-top-left-radius: var(--template-shape-borderRadius) !important;
    border-top-right-radius: var(--template-shape-borderRadius) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.aboutMeWrap .aboutMePara:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--template-shape-borderRadius) !important;
    border-bottom-right-radius: var(--template-shape-borderRadius) !important;
}

.cardFocused {
    cursor: default;
    transition: box-shadow 0.3s ease;
    box-shadow: var(--template-shadows-2) !important;
}

.chip {
    border: none !important;
}

.chip.skills {
    background-color: lightblue;
}

.chip.tools {
    background-color: lightcyan;
}

.chip.testing {
    background-color: lightgreen;
}

.chip.designSystems {
    background-color: aquamarine;
}

.chip.developed {
    background-color: bisque;
}

[data-mui-color-scheme="dark"] .chip.skills {
    background-color: rgba(179, 229, 252, 0.3);
}

[data-mui-color-scheme="dark"] .chip.skills span {
    color: rgb(179, 229, 252);
}

[data-mui-color-scheme="dark"] .chip.tools {
    background-color: rgba(38, 198, 218, 0.3);
}

[data-mui-color-scheme="dark"] .chip.tools span {
    color: rgb(38, 198, 218);
}

[data-mui-color-scheme="dark"] .chip.testing {
    background-color: rgba(38, 166, 154, 0.3);
}

[data-mui-color-scheme="dark"] .chip.testing span {
    color: #80cbc4;
}

[data-mui-color-scheme="dark"] .chip.designSystems {
    background-color: rgba(167, 255, 235, 0.3);
}

[data-mui-color-scheme="dark"] .chip.designSystems span {
    color: rgb(167, 255, 235);
}

[data-mui-color-scheme="dark"] .chip.developed {
    background-color: rgba(255, 224, 178, 0.3);
}

[data-mui-color-scheme="dark"] .chip.developed span {
    color: rgb(255, 224, 178);
}